rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /savedReports/{reportId} {
      allow read, write: if true;
    }
    match /patientProfiles/{profileId} {
      allow read, write: if true;
    }
  }
}
